<section class="bg-gray-100 py-5">
    <div class="flex items-center max-w-sm mx-auto">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2" />
                </svg>
            </div>
            <input type="text" [(ngModel)]="searchInput" id="simple-search"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search item name..." required />
        </div>
        <button type="submit"
            class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            <span class="sr-only">Search</span>
        </button>
    </div>

</section>

<section class="p-10">
    <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-5">

        @for (prod of products | search:searchInput; track prod.id) {
        <div class=" border-gray-200 border p-3 rounded-md overflow-hidden shadow m-2 flex justify-between flex-col">
            <div [routerLink]="['/item/',prod.id]">
                <div class="border-b-2">
                    <img [src]="prod.image" class="w-full h-[250px] object-contain" [alt]="prod.title" />
                </div>
                <div class=" p-2">
                    <h4 class="text-yellow-500 capitalize">{{prod.title.split(' ')| slice:0:3| join:' '}}</h4>
                    <h3 class="capitalize">{{ prod.description.split(' ')| slice:0:5| join:' ' }}</h3>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="flex items-center">
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <p>{{ prod.price | currency:'GBP' }}</p>
                </div>
            </div>
        </div>
        }
    </div>
</section>